{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {# foo|linebreaks renders standard linebreaks like \n to html #}
  {{ post.body|linebreaks }}
  <p>
    <a href="{% url "blog:post_share" post.id %}">
      Share this post
    </a>
  </p>
  {# Need to figure out how to return back to the last visited webpage #}
  <p><a href="{% url "blog:post_list" %}">Back to post listing</a></p>
{% endblock %}